<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <div>
        <h1><a href="/">Мой первый блог</a></h1>
    </div>

    <div>
        <p>опубликовано: 17.06.2020, 1:43</p>
        <h2><a href="">Мой первый пост</a></h2>
        <p>Тут много умного текста</p>
    </div>

    <div>
        <p>опубликовано: 07.09.2020, 22:32</p>
        <h2><a href="">Мой второй пост</a></h2>
        <p>Тут ещё больше умного текста</p>
    </div>
</body>
</html>