<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <div>
        <h1><a href="/">Мой первый блог</a></h1>
    </div>

    <div>
    {% for post in posts %}
        <div>
            <p>опубликовано: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}<a/></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>